/*
========================================================================================
    nf_deepvariant
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

workDir =    "${projectDir}/work"
tmpDir =     "${projectDir}/tmp"

params{
  outdir =    "${projectDir}/results"
  reportdir = "${projectDir}/reports"
  
  //Set this parameter to your e-mail address to get a summary e-mail with details of the run sent to you when the workflow exits. If set in your user config file (~/.nextflow/config) then you don't need to specify this on the command line for every run.
  email_on_complete=""
  //An email address to send a summary email to when the pipeline is completed - ONLY sent if the pipeline does not exit successfully.
  email_on_fail=""
}

report {
  enabled = true
  file = "${params.reportdir}/report.html"
}

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}

trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}

profiles {
  lsf {
    includeConfig "${projectDir}/confs/lsf.conf"
    includeConfig "${projectDir}/confs/lsf_tasks.conf"
  }
  test {
    includeConfig "${projectDir}/confs/test_data.conf"
  }
}