/*
========================================================================================
    nf_deepvariant
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

workDir =    "${projectDir}/work"
tmpDir =     "${projectDir}/tmp"

params{
  outdir =    "${projectDir}/results"
  reportdir = "${projectDir}/reports"
}

report {
  enabled = true
  file = "${params.reportdir}/report.html"
}

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}

trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}

profiles {
  lsf {
    includeConfig "${projectDir}/confs/lsf.conf"
    includeConfig "${projectDir}/confs/lsf_tasks.conf"
  }
  test {
    includeConfig "${projectDir}/confs/test_data.conf"
  }
}